.passwordContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 45px;
}

.InputContentContainer {
	margin-top: -20px;
}

.modalBtn{
	margin-top: 45px;
}

.passwordTitle {
	font-size: 27px;
	font-weight: 600;
}


.checkEmail,
.checkPw,
.clickBtn {
	font-size: 14px;
	margin-top: -10px;
}

.checkEmailTrue,
.checkPwTrue {
	color: #6fb2d2;
}

.checkEmailFalse,
.checkPwFalse {
	color: #d76b6b;
}

.clickTrue span {
	display: flex;
	font-size: 12px;
	justify-content: left;
}

.regularPw {
	color: #d76b6b;
	margin-bottom: 35px;
	margin-top: -10px;
	span {
		display: flex;
		font-size: 14px;
		justify-content: left;
	}
}
