@import "@/scss/variables";

$img-size: 64px;

$name-font-size: 19px;
$name-font-color: $grey-800;
$name-font-weight: 400; //bold;

$info-font-size: 15px;
$info-font-color: $grey-400;
$info-font-weight: 300; //500;

.notificationContainer {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
}

.link {
	text-decoration: none;
}

.notificationList {
	display: flex;
	padding: 1rem 0.25rem;
	gap: 1.25rem;
	border-bottom: 1px solid #E6E3E3;
}

.icon {
	height: $img-size;
	width: $img-size;
	border: 1px dashed $grey-600;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	margin: 0 20px;
}

.iconColor{
	color: $primary-color;
}

.ment {
	// display: inline-block;
	color: black;
	font-size: 15px;
}

.spanContainer{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.title{
	color: black;
	font-size: 16px;
	font-weight: 600;
}

.time {
	margin-left: 3px;
	color: gray;
	font-size: 13px;
}
