.loginEmailContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 45px;
}

.loginEmailTitle {
	font-size: 27px;
	font-weight: 600;
}

.loginbtn{
	margin-top: 25px;
}
